.header{

    border-bottom: 1px solid 
    rgba(255, 255, 255, 0.15);
    

    
   .fa{
    transform: scaleX(-1);
    margin-right: 8px;
    padding-top: 2px;
   }

   
        
        
        .general{

            display: flex;
            padding-top: 11px;
            color: #ffffff;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 767px){
           
        display: none;
      }

      &.nav_active{
        width: 100vw;
      
       color: #f5ad3f;
        position: fixed;
        z-index: 1000;
        top: 400px;
        left: 0;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;

        a{
            color: #f5ad3f;
        }
    }
      

            p{
                color:#ffffff;
                font-size: 12px;
            }

            .contact{
                display: flex;

                .call{
                    margin-left: 11px;
                    margin-right: 56px;

                }

                .number{
                    font-size: 12px !important;
                   }
            }

            a{       
                font-size: 10px;
                color: #fff;
            }

            .language{
                display: flex;
                align-items: center;

                img{
                    width: 12px;
                    height: 12px;
                    margin-right: 6px;
                }
            }
        }

        color: rgba(255, 255, 255, 0.15);
    
}

hr{
    margin: 0 !important;
}

.background{
    background-color: #f5ad3f;
}

select{
    background-color: #f5ad3f;
    outline: none;
    border: none;
}